{% extends 'base.html' %}
{% block title %}Grammar lessons - {{ topic.topic }}{% endblock %}

{% block content %}
    <h1>Grammar lessons</h1>
    <br>
    {{ topic.topic }}
    
    <div class="main-names">
        {% for lesson in lessons %}
        <div class="lesson_name">
        <h2><a href="#">{{ lesson.grammar_name }}</a></h2>
        </div>
        
        {% endfor %}
    </div>
    
    
    <div id="lesson_div">
    
    </div>
<style>
.main-names{
    width: 250px;
    font-size: 10px;
}

.main-names a{
    font-size: small;
}

.lesson_name{
    font-size: 10px;
}


a{
    text-decoration: none;
    color: #1e1b1a;
}
</style>
    
    <script>
    var lesson_div = document.getElementById('lesson_div');
    var all_lessons = document.querySelectorAll('.lesson_name')
    var json_lessons = JSON.parse('{{ lessons_json | escapejs }}');
    
    for (var i=0; i<json_lessons.length; i++){
        (function(index){
            all_lessons[index].addEventListener('click', 
            function(){
                lesson_div.innerHTML=`<pre><h2>${json_lessons[index].fields.grammar_text}</h2></pre`
                console.log(json_lessons[index].fields.grammar_text)
            })
        })(i)
    }
    
    
    
    
    </script>
{% endblock %}