{% extends 'base.html' %}

{% block title %}Learn{% endblock %}


{% block content %}
    <div class="main-languages">
    <h1>Choose a language to learn: </h1>
    <div class="languages-container">
    {% for language in languages %}
        <div class="language">
            <a href="{% url 'learn_language' language.name %}"><img class="icons" src="{{ language.img_url }}"></a>
        <a href="{% url 'learn_language' language.name %}"><h1>{{ language.name }}</h1></a>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}