{% extends 'base.html' %}

{% block title %}questions{% endblock %}

{% block content %}
    <h1>questions</h1>
    
    {% for message in messages %}
        <h1>{{ message }}</h1>
    {% endfor %}
    <br>
    
    <div class="main_questions">
    {% for question in questions %}

        <div class="question_container">
        <div class="author">
        <h4>author: </h4><p>{{ question.user }}</p>
        </div>
            <div class="date">
                <p>date: </p><h4>{{ question.pub_date }}</h4>
            </div>

        <div class="question_text">
            <pre><h2>{{ question.question_text }}</h2></pre>
        </div>
            <div>
        <form method="POST" class="answer_form" action="{% url 'make_answer' question.language.name %}?address={{ question.id }}">
        {% csrf_token %}
        {{ answer_form }}
            <div class="buttons-div">
                <input type="submit" class="answer_button btn btn-secondary btn-lg" value="Answer">
                <button type="button" class="close btn btn-secondary btn-lg" >Close</button>
            </div>
    
    </form>
    </div>
        <button type="button" class="answer_button answer btn btn-secondary btn-lg">Answer</button>
        
        </div>
    {% endfor %}
    
    <nav aria-label="Page navigation example">
  <ul class="pagination">

      {% if questions.has_previous %}
          <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
              <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
              
      {% endif %}
  
  
                <li class="page-item active"><a class="page-link" href="?page={{ questions.number }}">{{ questions.number }}</a></li>
      {% if questions.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
              <li class="page-item">
      <a class="page-link" href="?page={{ questions.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% endif %}
  </ul>
</nav>
    </div>
{#    <div>#}
{#        <form method="POST" id="answer_form">#}
{#        {% csrf_token %}#}
{#        {{ answer_form }}#}
{#    <input type="submit" value="answer">#}
{#    </form>#}
{#    </div>#}
    
    
    

    <style>
    .main_questions{
        background-color: #983d04;
    border-radius: 10px;
    border: solid gray 2px;
    padding: 15px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
        gap: 10px;
    }

    .main_questions h2{
        font-size: 25px;
        font-family: "Franklin Gothic Heavy";
        white-space: normal;
    }
    
    .main_questions h4{
        font-size: 20px;
        font-family: "Franklin Gothic Medium Cond";
        white-space: normal;
        color: #010113;
    }
    
    .author, .date{
        display: flex;
        gap: 5px;
        font-family: "Franklin Gothic Book";
    }
    
    .question_text{
        width: 95%;
    }
    
    .author p{
        color: #150600;
        font-weight: bold;
    }
    
    .date p{
        color: #361305;
    }
    
    .horizontal{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    
    .answer_button{
        margin-left: auto;
        background-color: #b8590b;
    }
    
    .answer_button:hover{
         background-color: #e7761d;
    }

    .question_container{
        background-color: #e9f1da;
    border-radius: 5px;
    padding: 5px;
    width: calc(50% - 10px); /* Two containers per row with 10px gap */
    margin-right: 10px; /* Gap between containers */
    margin-bottom: 10px; /* Gap between rows */

    }
    
    .question_container:nth-child(odd) {
    margin-right: 0; /* Reset margin for odd containers to align with the left */
}

.question_container:nth-last-child(2):nth-child(odd) {
    margin-right: auto; /* If only one container in the last row, push it to the left */
}

.question_container:last-child {
    width: 100%; /* Full width for the last container if it's alone */
}
    
    .page-link:hover{
        background-color: cornflowerblue;
    }
    
    .answer_form{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }
    
    .answer_form textarea{
        width: 100%;
        min-height: 130px;
        max-height: 150px;
        background-color: darkgoldenrod;
        border: solid #ffffff 2px;
        border-radius: 10px;
    }
    </style>
    
    <script>
        var answer_buttons = document.querySelectorAll('.answer')
        var closes = document.querySelectorAll('.close')
        var answer_forms = document.querySelectorAll('.answer_form')
        for (var i=0; i<answer_buttons.length; i++){

            (function(index){
                answer_buttons[index].addEventListener('click', 
                function (){
                
                    answer_forms[index].style.display='flex'
                    this.style.display='none'
            })
            }(i))
            
            
            
            
        }
        
        
        for (var i=0; i<closes.length; i++){
            (function(index){
                closes[index].addEventListener('click', function(){
            
            answer_forms[index].style.display='none'
                answer_buttons[index].style.display='block'
            })
            
        }(i))
        }
        
    </script>
{% endblock %}