{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    
    {% for message in messages %}
        <h1>{{ message }}</h1>
    {% endfor %}
    <br>
    
    <div class="form-div">
    <h2>Register below:</h2>
<form method="POST" action="{% url 'register' %}" class="user-form">
    {% csrf_token %}

        <h3>Username:</h3>
        <input type="text" name="username" required class="user-input">
        <h3>Email:</h3>
        <input type="email" name="email" required class="user-input">
        <h3>Password:</h3>
        <input type="password" name="password" required class="user-input">
        <h3>Repeat Password:</h3>
        <input type="password" name="password2" required class="user-input">
        <h3>Profile picture:</h3>
        <input type="url" name="profile_img" class="user-input">
        <div class="button-div">
            <button type="submit" class="user-button">sign up</button>
        </div>
    
</form>
    <a href="{% url 'login' %}" id="form-link">Already have an account?</a>
</div>
    
{% endblock %}