{% extends 'base.html' %}
{% block title %}Slangs{% endblock %}

{% block content %}
    <h1>Slangs and expressions</h1>
    <br>
    <div class="main-slangs">
    {% for slang in slangs %}
        <div id="slang-container">
        
        <div id="slang-info">
            <div id="close-div">
                <h1>{{ slang.slang_text }}</h1>
                <button id="close"><i class="fa fa-window-close" aria-hidden="true"></i></button>
            </div>
            
        <h1>{{ slang.translate_text }}</h1>
        <p>{{ slang.explanation }}</p>
        </div>
        
        <div id="slang">
            <a href="#"><h1>{{ slang.slang_text }}</h1></a>
        </div>
        
        </div>
        {% endfor %}
    </div>
    
    
   
    
        <style>
        
        .main-slangs{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        
        #slang-container{
            
            width: 500px;
            {#word-break: break-word;#}
        }
        
        #slang-container a{
            text-decoration: none;
        }
        
        #slang-info{
            background-color: darkgoldenrod;
            display: none;
            flex-direction: column;
            {#position: fixed;#}
            
        }
        
        #slang{
            background-color: darkolivegreen;
            {#position: fixed;#}
        }
        
        #close-div{
            display: flex;
            justify-content: space-between;
        }
        </style>
        
    
    
    <script>
    var slangs = document.querySelectorAll('#slang')
    var my_divs = document.querySelectorAll(`#slang-info`)
    var closes = document.querySelectorAll('#close')


    
    for (var i=0; i<slangs.length; i++){
        (function (index){
            slangs[index].addEventListener('click', 
            function(){
                my_divs[index].style.display='inline-flex'
                this.style.display='none'
            })
        })(i);

        (function(index){
            closes[index].addEventListener('click', function (){
                my_divs[index].style.display='none'
                slangs[index].style.display=''
            })
        }(i))
        
    }
    </script>
{% endblock %}