{% extends 'base.html' %}

{% block title %}Teach{% endblock %}

{% block content %}
    {% for message in messages%}
        <h1>{{ message }}</h1>
    {% endfor %}
    <h1>Teaching {{ language.name }}</h1>
    
    <div class="main-teach">
        <div id="add-word">
            <button id="btn-create">Add new word</button>
        </div>
        <div id="add-grammar">
            <button id="btn-create">Add grammar</button>
        </div>
        <div id="add-slang">
            <button id="btn-create">Add some expression or slang</button>
        </div>
    <a href="{% url 'questions_view' language.name %}"><h4>See questions</h4></a>
    </div>
    
    
    <form method="POST" action="{% url 'add_word' language.name %}" id="word-form">
    {% csrf_token %}
        <input type="text" name="word" placeholder="word" required>
        <input type="text" name="translate" placeholder="translate" required>   
        <div class="buttons">
            <input type="submit" value="Add new word" name="">
            <button id="close">Close</button>
        </div>
        
        <input type="hidden" name="lang" value="{{ language.name }}">
    </form>
    
    
    <form method="POST" action="{% url 'add_grammar' language.name %}" id="grammar-form">
    {% csrf_token %}
        <label>Select a topic</label>
        <select name="topic_name">
            <option>verbs</option>
            <option>nouns</option>
            <option>prepositions</option>
            <option>pronouns</option>
        </select>
        <input type="text" name="lesson_name" placeholder="name of the grammar lesson">
        <textarea name="grammar_text"  required placeholder="write grammar content here:"></textarea>   
        <div class="buttons">
            <input type="submit" value="Add grammar content " name="">
            <button id="close_1">Close</button>
        </div>
    </form>
    
        <form method="POST" action="{% url 'add_slang' language.name %}" id="slang-form">
    {% csrf_token %}
        <input type="text" name="slang" placeholder="slang or expression" required>
        <input type="text" name="translate_slang" placeholder="translate" required>
        <textarea name="explanation" placeholder="explanation"></textarea>    
        <div class="buttons">
            <input type="submit" value="Add slang " name="">
            <button id="close_2">Close</button>
        </div>
    </form>
    
    
    
    
    <style>
    body{
        font-family: "Franklin Gothic Medium";
    }
    .main-teach{
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: space-around;
        background-color: forestgreen;
        padding: 20px;
    }
    
    #btn-create{
        color: cornflowerblue;
        background-color: #343131;
        border: solid #345431 3px;
        padding: 10px;
    }
    
    #word-form, #grammar-form, #slang-form{
        display: none;
        flex-direction: column;
        width: 300px;
        height: fit-content;
        margin: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }
    
    .buttons{
        width: 100%;
        display: flex;
    }
    
    .buttons button, .buttons input{
        width: 50%;
    }
    
    #grammar-form{
        width: 30%;
    }
    </style>
    
    <script>
    var add_word = document.getElementById('add-word')
    var add_grammar = document.getElementById('add-grammar')
    var add_slang = document.getElementById('add-slang')
    var close = document.getElementById('close')
    var close_grammar = document.getElementById('close_1')
    var close_slang = document.getElementById('close_2')
    var word_form = document.getElementById('word-form')
    var grammar_form = document.getElementById('grammar-form')
    var slang_form = document.getElementById('slang-form')
    
    
    add_word.addEventListener('click', function (){
        
        word_form.style.display='flex'
        grammar_form.style.display='none'
        slang_form.style.display='none'
    })
    
     add_grammar.addEventListener('click', function (){
        
        grammar_form.style.display='flex'
         word_form.style.display='none'
          slang_form.style.display='none'
    })
    
    add_slang.addEventListener('click', function (){
        
        slang_form.style.display='flex'
        grammar_form.style.display='none'
        word_form.style.display='none'
    })
    
    close.addEventListener('click', function(){
        word_form.style.display='none'
        
    })
    
    close_grammar.addEventListener('click', function(){
        grammar_form.style.display='none'
        
    })
    
    close_slang.addEventListener('click', function(){
        slang_form.style.display='none'
        
    })
    </script>
{% endblock %}