{% extends 'base.html' %}

{% block title %}Teach{% endblock %}

{% block content %}
    {% for message in messages%}
        <h1>{{ message }}</h1>
    {% endfor %}


    <div class="main-container">
         <div class="language-div">
     <h1>Teaching {{ language.name }}</h1>
    <img src="{{ language.img_url }}">
    </div>
        <div class="main-teach">

        <div id="add-word">
            <button id="btn-create">Add new word</button>
        </div>
        <div id="add-grammar">
            <button id="btn-create">Add grammar</button>
        </div>
        <div id="add-slang">
            <button id="btn-create">Add some expression or slang</button>
        </div>
    </div>
    
    </div>
    <div class="questions">
    <button type="submit"><a href="{% url 'questions_view' language.name %}">See questions</a></button>
    </div>
    
    


    
    
    <form method="POST" action="{% url 'add_word' language.name %}" id="word-form">
    {% csrf_token %}
        <input type="text" name="word" placeholder="word" required>
        <input type="text" name="translate" placeholder="translate" required>   
        <div class="buttons">
            <input type="submit" value="Add new word" name="">
            <button id="close">Close</button>
        </div>
        
        <input type="hidden" name="lang" value="{{ language.name }}">
    </form>
    
    
    <form method="POST" action="{% url 'add_grammar' language.name %}" id="grammar-form">
    {% csrf_token %}
        <label>Select a topic</label>
        <select name="topic_name">
            <option>verbs</option>
            <option>nouns</option>
            <option>prepositions</option>
            <option>pronouns</option>
        </select>
        <input type="text" name="lesson_name" placeholder="name of the grammar lesson">
        <textarea name="grammar_text"  required placeholder="write grammar content here:"></textarea>   
        <div class="buttons">
            <input type="submit" value="Add grammar content " name="">
            <button id="close_1">Close</button>
        </div>
    </form>
    
        <form method="POST" action="{% url 'add_slang' language.name %}" id="slang-form">
    {% csrf_token %}
        <input type="text" name="slang" placeholder="slang or expression" required>
        <input type="text" name="translate_slang" placeholder="translate" required>
        <textarea name="explanation" placeholder="explanation"></textarea>    
        <div class="buttons">
            <input type="submit" value="Add slang " name="">
            <button id="close_2">Close</button>
        </div>
    </form>
    
    
    
    
    <style>
    .main-container{
        display: flex;
        flex-direction: column;
        background-color: #ff8800;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        padding: 15px;
    }

    .language-div{
        display: flex;
        align-items: center;
        gap: 30px;
    }


    body{
        font-family: "Franklin Gothic Medium";
    }
    .main-teach{
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: space-around;
        background-color: #8b4722;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    
    
    #btn-create{
        font-size: 30px;
        color: #f1c11c;
        background-color: #343131;
        border: solid #e1a000 3px;
        padding: 20px;
        border-radius: 10px;
    }
    
    #word-form, #grammar-form, #slang-form{
        display: none;
        flex-direction: column;
        width: 40%;
        height: fit-content;
        margin: auto;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid black;
        background-color: #703420;
        color: #1f0a01;
    }
    
    #word-form input[type=text], #grammar-form input[type=text], #grammar-form textarea,
    #slang-form input[type=text], #slang-form textarea{
        background-color: #675a56;
        padding: 10px;
        color: #1f0a01;
        border: 2px solid #703420;
    }
    
    #grammar-form select{
        background-color: #b0a8a5;
        color: #1f0a01;
        border: 2px solid #703420;
    }
    
    .buttons{
        width: 100%;
        display: flex;
    }
    
    .buttons button, .buttons input{
        width: 50%;
    }
    
    #grammar-form{
        width: 30%;
    }
    
    .questions{
        width: 40%;
        font-size: 50px;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    
    .questions button{
        border: solid black 3px;
        padding: 10px;
        border-radius: 10px;
        background-color: #802708;
    }
    
    .questions a{
        text-decoration: none;
        color: #ecc018;
        font-weight: bold;
        font-family: "Franklin Gothic Demi";
    }
    
    @media screen and (max-width: 1025px) {
        #word-form, #grammar-form, #slang-form{
        width: 70%;
       
    }
    }
   
    @media screen and (max-width: 945px ){
        #add-word{
            width: 49%;
        }
        #add-grammar{
            width: 49%;
        }
        
        #add-word button{
            width: 100%;
        }
        #add-grammar button{
            width: 100%;
        }
        
        #add-slang{
            margin-top: 10px;
            width: 100%;
        }
        #add-slang button{
            width: 100%;
        }
        
        .main-teach{
            justify-content: space-between;
        }
        
        .questions{
            width: 100%
        }
        
        .questions button{
            width: 90%;
        }
    }
    
    @media screen and (max-width: 900px ) {
    .language-div{
            width: 100%;
            justify-content: space-between;
        }

        .language-div h1{
            font-size: 50px;
        }
        
        
    }
    
    @media screen and (max-width: 650px){
         #add-word{
            width: 100%;
        }
        #add-grammar{
            width: 100%;
        }
     
        
        #add-slang, #add-grammar{
            margin-top: 10px;
            width: 100%;
        }
        #add-slang button, #add-grammar button, #add-word button{
            font-size: 20px;
        }
        
        
    }
    
    @media screen and (max-width: 627px) {
         .language-div h1{
            font-size: 40px;
        }

         .language-div img{
             display: none;
         }
         
         
         
          .language-div{
            justify-content: center;
        }

        
    }
    @media screen and (max-width: 400px) {
        .questions button {
            font-size: 20px;
        }
    }
     @media screen and (max-width: 400px){
        .language-div h1{
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 400px){
       .language_div h1{
            font-size: 20px;
        }
    }
    
    @media screen and (max-width: 380px){
        #add-slang button, #add-grammar button, #add-word button{
            font-size: 15px;
        }
    }

     @media screen and (min-height: 1024px) {
        .main-container {
            height: 800px;
        }
         
         .main-teach{
             flex-direction: column;
             gap: 50px;
             border-radius: 10px;
         }
         
         .main-teach button{
             width: 100%;
             font-size: 30px;
         }

    }
    
    @media screen and (min-height: 750px) and (max-height: 950px) {
        .main-container {
            height: 600px;
        }
        
        .questions button{
            font-size: 30px;
            width: 60%;
        }
         
         .main-teach{
             flex-direction: column;
             gap: 50px;
             border-radius: 10px;
         }
         
         .main-teach button{
             width: 100%;
             font-size: 30px;
         }

    }
    </style>
    
    <script>
    var add_word = document.getElementById('add-word')
    var add_grammar = document.getElementById('add-grammar')
    var add_slang = document.getElementById('add-slang')
    var close = document.getElementById('close')
    var close_grammar = document.getElementById('close_1')
    var close_slang = document.getElementById('close_2')
    var word_form = document.getElementById('word-form')
    var grammar_form = document.getElementById('grammar-form')
    var slang_form = document.getElementById('slang-form')
    
    
    add_word.addEventListener('click', function (){
        
        word_form.style.display='flex'
        grammar_form.style.display='none'
        slang_form.style.display='none'
    })
    
     add_grammar.addEventListener('click', function (){
        
        grammar_form.style.display='flex'
         word_form.style.display='none'
          slang_form.style.display='none'
    })
    
    add_slang.addEventListener('click', function (){
        
        slang_form.style.display='flex'
        grammar_form.style.display='none'
        word_form.style.display='none'
    })
    
    close.addEventListener('click', function(){
        word_form.style.display='none'
        
    })
    
    close_grammar.addEventListener('click', function(){
        grammar_form.style.display='none'
        
    })
    
    close_slang.addEventListener('click', function(){
        slang_form.style.display='none'
        
    })
    </script>
{% endblock %}