{% extends 'base.html' %}

{% block title %}Words{% endblock %}

{% block content %}
    
    <input type="text" id="search-bar" onkeyup="search_func()">
    <div id="dictionary">
         {% for word in all_words %}
             <h2 class="word">{{ word.word_name }} - {{ word.translate }}</h2>
         {% endfor %}
    </div>
    
    <script>
    
    
    function search_func(){
        dict_div = document.querySelector('#dictionary')
        search_bar=document.getElementById('search-bar')
        search_text = search_bar.value.toLowerCase()
        words = document.getElementsByClassName('word')
        var empty = false
        for (let i=0; i<words.length; i++){
            if (words[i].textContent.toLowerCase().startsWith(search_text)){
                words[i].style.display = '';
                empty = true
                
            }else
            {
                words[i].style.display = 'none';
                
            }
        }
        if (dict_div.innerHTML==''){
            dict_div.innerHTML='sdfsdf'
        }
    }
    </script>
    
    <style>
    #dictionary{
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        width: fit-content;
        padding: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        gap: 5px;
        margin-left: auto;
        margin-right: 5%;
    }
    </style>
{% endblock %}