{% extends 'base.html' %}

{% block title %}Words{% endblock %}

{% block content %}
    
    <input type="text" id="search-bar" onkeyup="search_func()">
    <div id="dictionary">
        <h1 class="not_found">Not found!</h1>
         {% for word in page_words %}
             <h2 class="word">{{ word.word_name }} - {{ word.translate }}</h2>
         {% endfor %}
    
        {% for word in json_words %}
             <h2 class="dict_word">{{ word.word }} - {{ word.translate }}</h2>
         {% endfor %}
    </div>
    
    <nav aria-label="Page navigation example">
  <ul class="pagination">

      {% if page_words.has_previous %}
          <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
              <li class="page-item"><a class="page-link" href="?page={{ page_words.previous_page_number }}">{{ page_words.previous_page_number }}</a></li>
              
      {% endif %}
  
  
                <li class="page-item active"><a class="page-link" href="?page={{ page_words.number }}">{{ page_words.number }}</a></li>
      {% if page_words.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_words.next_page_number }}">{{ page_words.next_page_number }}</a></li>
              <li class="page-item">
      <a class="page-link" href="?page={{ page_words.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% endif %}
  </ul>
</nav>
    
    
    <script>
    var dict_div = document.querySelector('#dictionary')
    var json_words = {{ json_words | safe }}
    
    function search_func(){
        var page_words = document.querySelectorAll('.word')
        for (var word of page_words){
            word.style.display='none'
        }
        var search_bar = document.getElementById('search-bar')
        var search_text = search_bar.value.toLowerCase()
        
        var word_divs =document.querySelectorAll('.dict_word')
        var empty = true
        for (let i=0; i<json_words.length; i++){
            if (json_words[i].word.toLowerCase().startsWith(search_text) ||
                json_words[i].translate.startsWith(search_text)){
                word_divs[i].style.display = 'block';
                empty = false
                
            }else
            {
               word_divs[i].style.display = 'none';
                
            }
        }
        
        if (search_text == ''){
            for (let i=0; i<json_words.length; i++){
               word_divs[i].style.display = 'none';
        }
            for (var word of page_words){
            word.style.display='block'
        }
            
        }
        var not_found = document.querySelector('.not_found')
        if (empty){
            not_found.style.display = 'block'
        }else {
            not_found.style.display = 'none'
        }
    }
    </script>
    
    <style>
    #dictionary{
        display: flex;
        flex-direction: column;
        background-color: cornflowerblue;
        width: fit-content;
        padding: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        gap: 5px;
        margin-left: auto;
        margin-right: 5%;
    }
    
    .dict_word{
        display: none;
    }
    
    .not_found{
        display: none;
    }
    </style>
{% endblock %}